<strong>Parabéns, {{ student }}</strong>
<p>Você está matriculado no GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor: </strong> R$ {{ plan.price }} <br />
  <strong>Duração: </strong> {{ duration }} meses. <br />
  <br />
  <small>
    Estamos muito felizes em ter você aqui com a gente!
  </small>
</p>


