<strong>Nossas boas-vindas, {{ user }}</strong>
<p>Você foi matrículado no GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Duração: </strong> {{ duration }} meses<br />
  <strong>Preço: </strong> R$ {{ price }},00 <br />
  <strong>Início: </strong> {{ startDate }} <br />
  <strong>Término: </strong> {{ endDate }} <br />
  <small>
    <p>
     Estamos muito felizes em ter você aqui com a gente!
    </p>
  </small>
</p>
